.singleComics {
    .container {
        .presentation {
            display: flex;
            padding-top: 4rem;

            &__card {
                width: 70%;
                background-color: green;
            }

            .advertising {
                width: 30%;
                background-color: red;
            }
        }
    }
}