* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Signika", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.header-top {
  height: 25px;
  width: 100%;
  background-color: #1e90FF;
  color: white;
}
.header-top .container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-top .container a {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
  margin-left: 2rem;
}

.header-bottom {
  height: 100px;
  width: 100%;
  background-color: #FFFFFF;
  color: black;
}
.header-bottom .container .nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-bottom .container .nav__logo a img {
  width: 80%;
}
.header-bottom .container .nav__menu {
  line-height: 100px;
}
.header-bottom .container .nav__menu ul {
  display: flex;
}
.header-bottom .container .nav__menu ul li {
  padding: 0.25rem;
  margin: 0 0.25rem;
  text-transform: uppercase;
  cursor: pointer;
}
.header-bottom .container .nav__menu ul li i {
  position: relative;
  bottom: 0.2rem;
  left: 0.1rem;
}
.header-bottom .container .nav__search {
  height: 1.5rem;
  width: 120px;
  border-bottom: 1px solid blue;
  text-align: end;
}
.header-bottom .container .nav__search input {
  background-color: transparent;
  width: 70px;
  border: none;
  text-align: end;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.header-bottom .container .nav__search input:focus {
  background-color: transparent;
  outline: none;
}

main {
  width: 100%;
  background-color: #2b2b2c;
}
main .jumbo {
  width: 100%;
  height: 350px;
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .comics-list {
  text-align: center;
}
main .comics-list .container {
  text-align: left;
}
main .comics-list .container h2 {
  display: inline-block;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #1e90FF;
  padding: 0.75rem 1.5rem;
  position: relative;
  bottom: 1.75rem;
}
main .comics-list .container .comics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .comics-list .container .comics .card {
  width: calc(12.5vw - 1.5em);
  margin: 0.75rem;
  padding: 0.5rem;
  text-align: start;
}
main .comics-list .container .comics .card__image {
  max-width: 100%;
  height: calc(12.5vw - 1.5em);
  overflow: hidden;
}
main .comics-list .container .comics .card__image img {
  width: 100%;
  opacity: 0.85;
  transition: 0.5s;
}
main .comics-list .container .comics .card__text {
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 1rem 0;
  transition: 0.5s;
}
main .comics-list .container .comics .card__text h3 {
  font-weight: 300;
}
main .comics-list .container .comics .card:hover .card__image > img {
  opacity: 1;
  transition: 0.5s;
}
main .comics-list .container .comics .card:hover .card__text {
  color: #1e90FF;
  transition: 0.5s;
}
main .comics-list button {
  background-color: #1e90FF;
  border: none;
  padding: 0.8rem 3.5rem;
  margin: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
}
main .home-links {
  background-color: #1e90FF;
}
main .home-links .container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
main .home-links .container .link {
  display: flex;
  align-items: center;
  width: calc(20% - 0.5rem);
}
main .home-links .container .link__icon {
  max-width: 57px;
  height: 57px;
}
main .home-links .container .link__icon img {
  width: 100%;
  height: 100%;
}
main .home-links .container .link__name {
  font-size: 0.8rem;
  margin-left: 0.7rem;
  color: white;
  text-transform: uppercase;
}
main .home-links .container .link__name h3 {
  font-weight: 300;
}

footer {
  background-image: url(../images/footer-bg.jpg);
  color: #FFFFFF;
}
footer .container {
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 510px;
  background-position-x: right;
  background-position-y: center;
}
footer .container .footer {
  display: flex;
}
footer .container .footer__column {
  width: 180px;
}
footer .container .copyright, footer .container a {
  margin: 2rem 0;
  font-size: 0.9rem;
  color: rgb(129, 129, 129);
}
footer .container .copyright a, footer .container a a {
  color: #1e90FF;
}
footer .container h3 {
  margin: 1rem 0;
}
footer .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2c;
  padding: 2rem 0;
}
footer .social .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: none;
}
footer .social .container .social_links {
  display: flex;
  align-items: center;
}
footer .social .container .social_links h3 {
  color: #1e90FF;
  text-transform: uppercase;
}
footer .social .container .social_links ul li {
  display: inline-block;
  background-color: rgb(129, 129, 129);
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
}
footer .social .container .social_links ul li a {
  color: #2b2b2c;
  font-size: 1.3rem;
}
footer .social .container button {
  background-color: #2b2b2c;
  border: 2px solid #1e90FF;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  transition: 0.5s;
}
footer .social .container button:hover {
  background-color: #1e90FF;
  transition: 0.5s;
}

.characters .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.characters .container h1 {
  padding: 15rem 0;
}

.comics .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.comics .container h1 {
  padding: 15rem 0;
}

.movies .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.movies .container h1 {
  padding: 15rem 0;
}

.tv .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.tv .container h1 {
  padding: 15rem 0;
}

.games .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.games .container h1 {
  padding: 15rem 0;
}

.collectibles .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.collectibles .container h1 {
  padding: 15rem 0;
}

.videos .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.videos .container h1 {
  padding: 15rem 0;
}

.fans .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.fans .container h1 {
  padding: 15rem 0;
}

.news .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.news .container h1 {
  padding: 15rem 0;
}

.shop .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.shop .container h1 {
  padding: 15rem 0;
}