* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.header-top {
  height: 20px;
  width: 100%;
  background-color: deepskyblue;
  color: white;
}

.header-bottom {
  height: 70px;
  width: 100%;
  background-color: lightcyan;
  color: black;
}

main {
  width: 100%;
  height: 1000px;
  background-color: aliceblue;
}
main .jumbo {
  width: 100%;
  height: 300px;
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .comics .container {
  display: flex;
  flex-wrap: wrap;
}
main .comics .container .card {
  width: calc(16.6666666667% - 1.5rem);
  margin: 0.75rem;
  background-color: lightblue;
}
main .home-links {
  background-color: dodgerblue;
}
main .home-links .container {
  display: flex;
  justify-content: space-between;
}
main .home-links .container .link {
  display: flex;
  align-items: center;
  width: calc(20% - 0.5rem);
}
main .home-links .container .link__icon {
  height: 60px;
}
main .home-links .container .link__icon img {
  height: 100%;
}
main .home-links .container .link__name {
  font-size: 0.7rem;
}