.header-top {
    height: 20px;
    width: 100%;
    background-color: deepskyblue;
    color: white;
}

.header-bottom {
    height: 70px;
    width: 100%;
    background-color: lightcyan;
    color: black;
}