.header-top {
    height: 25px;
    width: 100%;
    background-color: $primary_color;
    color: white;

    .container {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;

        a {
            text-transform: uppercase;
            font-size: .7rem;
            color: white;
            margin-left: 2rem;
        }
    }
}

.header-bottom {
    height: 100px;
    width: 100%;
    background-color: $secondary_color;
    color: black;

    .container {

        .nav {
            display: flex;
            justify-content: space-between;
            height: 100%;
            display: flex;
            align-items: center;

            &__logo {

                a {
                    img {
                        width: 80%;
                    }
                }
            }

            &__menu {
                line-height: 100px;
                
                ul {
                    display: flex;

                    li {
                        padding: .25rem;
                        margin: 0 .25rem;
                        text-transform: uppercase;
                        cursor: pointer;

                        i {
                            position: relative;
                            bottom: .2rem;
                            left: .1rem;

                        }
                    }
                }
            }

            &__search {
                height: 1.5rem;
                width: 120px;
                border-bottom: 1px solid blue;
                text-align: end;
                
                input {
                    background-color: transparent;
                    width: 70px;
                    border: none;
                    text-align: end;
                    color: black;
                    font-size: 1rem;
                    font-weight: bold;

                    &:focus {
                        background-color: transparent;
                        outline: none;
                    }
                }
            }
        }
    }
}